<h2>Character Name: <%= @character.name%></h2>
<h2>Gender: <%= @character.gender%></h2>
<h2>Animal: <%= @character.animal?%></h2>
<h2>Depressed: <%= @character.depressed?%></h2>

<p> <form action="/characters/<%= @character.id %>/edit">
	<input type="submit" value="edit character">
</p></form>


<p> <form action="/characters">
	<input type="submit" value="back">
</p></form>


<p> <form action="/characters/<%= @character.id %>" method="post">
	<input type="hidden" name="_method" value="delete"> 
	<input type="submit" value="delete">
</p> </form>